<div id="<%= dom_id family %>">
  <p>
    <strong>Name:</strong>
    <%= family.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= family.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= family.active %>
  </p>

</div>
