<div class="container-fluid py-4">
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show shadow-sm border-0 mb-4" role="alert">
      <i class="bi bi-check-circle-fill me-2"></i><%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% end %>
  <%= render "family_header", family: @family %>
  <div class="row g-4 mt-1">
    <div class="col-lg-5">
      <%= render "assigned_products", family: @family %>
    </div>
    <div class="col-lg-7">
      <%= render "bulk_assigner", family: @family %>
    </div>
  </div>
</div>