<div class="modal fade" id="variantModal" tabindex="-1"
     data-variant-modal-target="modal" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content border-0 shadow-lg rounded-4">
      <div class="modal-header border-0 pb-0">
        <h5 class="fw-bold mb-0">Gestionar Variante</h5>
        <button type="button" class="btn-close shadow-none"
                data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body p-4">
        <div id="variant-modal-signal"></div>
        <div id="variant-form-container"
             data-variant-modal-target="formContainer">
          <div class="text-center py-5">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>