<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="fw-bold mb-4">Editar Tipo: <span class="text-primary"><%= @variant_type.name %></span></h2>
      <%= render "form", variant_type: @variant_type %>
    </div>
  </div>
</div>