<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="fw-bold mb-4">Nuevo Tipo de Variante</h2>
      <%= render "form", variant_type: @variant_type %>
    </div>
  </div>
</div>